// TODO: Write global styles for modal content
.about-text,
.about-subheader {
	margin: 14px;
}

.credits {
	margin: 14px;
	list-style: none;
    padding: 0;

	li {
		margin: 0;
        padding: 14px;

        &:nth-child(even) {
            background-color: rgba(255, 255, 255, 0.05);
        }
	}
}
