.help-text {
	padding: 14px;
	p {
		margin: 8px 0;
	}
}

.stats {
	display: flex;
	flex-flow: row wrap;
	margin: 14px;
	box-shadow:
		inset 0 2px 6px rgba(0, 0, 0, 0.1),
		0 1px 1px rgba(255, 255, 255, 0.3);
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.2);
	padding: 8px 14px;
	list-style: none;

	&-item {
		display: block;
		margin: 6px 0 10px;
		width: 25%;

		p {
			margin-bottom: 0;
		}

		label {
			display: block;
			font-weight: 700;
		}

		@include breakpoint-down(small) {
			width: 50%;
		}
	}
}
