.weather-summary {
	position: relative;
	padding-top: 32px;
	width: 100%;

	&-header {
		display: flex;
		flex-flow: row nowrap;
		padding-bottom: 20px;

		.weather-icon {
			z-index: 2;
			text-align: center;
		}

		@include breakpoint-down(small) {
			flex-flow: column nowrap;
		}
	}

	.primary-stats {
		padding: 30px 0 0px 42px;
		text-align: left;

		&-name {
			font-size: 20px;
		}

		&-temp {
			font-weight: 200;
			font-size: 72px;

			&-info {
				margin-top: 10px;
				font-weight: 200;
				font-size: 14px;
			}
		}

		&-description {
			font-size: 20px;
		}

		@include breakpoint-down(small) {
			margin-top: -120px;
			padding: 120px 0 0;
			text-align: center;

			&-temp {
				&-info {
					font-weight: 400;
				}
			}
		}

		@include breakpoint-up(small) {
			box-shadow: none;
			border: none;
			background: none;
			&::after {
				display: none;
			}
		}
	}

	&-controls {
		display: flex;
		position: absolute;
		top: 32px;
		right: 0;
		gap: 10px;
		z-index: 4;

		@include breakpoint-down(small) {
			top: 16px;
		}

		.button {
			display: flex;
			justify-content: center;
			align-items: center;
			box-shadow: none;
			border: 1px solid transparent;
			border-radius: 50%;
			background: none;
			padding: 0;
			width: 36px;
			height: 36px;

			img {
				width: 32px;
				height: 32px;
			}
		}
	}

	.secondary-stats {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-template-areas:
			'pop pop pop humidity humidity humidity wind wind wind wind wind wind'
			'sun sun sun sun sun pressure pressure pressure pressure visibility visibility visibility'
			'rain rain rain rain cloud cloud cloud cloud air air air air';
		gap: 14px;
		width: 100%;

		@include breakpoint-down(medium) {
			grid-template-columns: repeat(2, 1fr);
			grid-template-areas:
				'pop humidity'
				'wind wind'
				'sun pressure'
				'visibility rain'
				'cloud air';
		}

		&-item {
			position: relative;
			cursor: pointer;
			padding: 10px 0 0;

			p {
				font-size: 24px;
				text-align: left;

				span {
					font-weight: 200;
					font-size: 24px;
				}

				@include breakpoint(small) {
					font-size: 16px;

					span {
						font-size: 16px;
					}
				}
			}

			&#popWidget {
				grid-area: pop;
			}

			&#humidityWidget {
				grid-area: humidity;
			}

			&#windWidget {
				grid-area: wind;

				.wind-compass {
					position: relative;
					margin-left: 20px;
					width: 85px;
					height: 85px;

					&-background,
					&-arrow {
						width: 100%;
					}

					&-arrow {
						position: absolute;
						top: 0;
						left: 0;
						transform-origin: 50% 50%;
					}

					&-value {
						display: flex;
						position: absolute;
						top: 0;
						left: 0;
						justify-content: center;
						align-items: center;
						padding-left: 6px;
						width: 100%;
						height: 100%;
						font-size: 14px;
						line-height: 1;
					}

					@include breakpoint(small) {
						margin-bottom: 12px;
						margin-left: 0;
					}
				}

				.secondary-stats-value {
					left: 130px;

					@include breakpoint(small) {
						top: 0;
						left: 0;
					}
				}
			}

			&#sunWidget {
				grid-area: sun;
			}

			&#pressureWidget {
				grid-area: pressure;
			}

			&#visibilityWidget {
				grid-area: visibility;
			}

			&#rainSnowWidget {
				grid-area: rain;
			}

			&#cloudWidget {
				grid-area: cloud;
			}

			&#airWidget {
				grid-area: air;
			}
		}

		&-icon {
			display: block;
			margin-left: 10px;
			width: 64px;
		}

		&-value {
			position: absolute;
			top: 24px;
			left: 86px;

			@include breakpoint(small) {
				top: 18px;
				left: 46px;
			}
		}

		@include breakpoint-down(small) {
			&-item {
				display: flex;
				flex-flow: column nowrap;
				align-items: center;
			}

			&-icon {
				margin-left: 0;
			}

			&-value {
				position: relative;
				top: unset;
				left: unset;
				margin-bottom: 14px;
			}

			label {
				margin-top: auto;
				padding: 4px 0;
				width: 100%;
				font-size: 10px;
				text-align: center;
			}
		}
	}
}
