.extended-forecast {
	position: relative;
	margin-top: 32px;
	border-radius: 6px;
	background: rgba(255, 255, 255, 0.2);
	width: 100%;
	overflow: hidden;
	color: #ffffff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

	p {
		margin: 0;
	}

	label {
		display: block;
		padding: 10px 0 10px 20px;
		font-weight: 700;
		font-size: 12px;
		text-transform: uppercase;
	}

	.whats-this {
		position: absolute;
		top: 1px;
		right: 4px;
	}

	&-tabs {
		display: flex;
		flex-flow: row nowrap;
		justify-content: stretch;
		width: 100%;
		overflow-x: auto;
		list-style: none;

		li {
			flex: 1;
		}

		@include breakpoint-down(small) {
			display: none;
		}
	}

	&-paginator {
		display: none;
		flex-flow: row nowrap;
		align-items: center;

		@include breakpoint-down(small) {
			display: flex;
		}

		button {
			padding: 0 8px;
			width: 64px;
			height: 48px;

			img {
				width: 48px;
				height: 48px;
			}
		}

		p {
			flex-grow: 2;
			text-align: center;
		}
	}

	&-pages {
		background-color: rgba(255, 255, 255, 0.2);
		width: 100%;
		overflow-x: auto;

		.daily-forecast {
			display: none;
			flex-flow: row nowrap;
			justify-content: stretch;
			padding: 0;

			&.active {
				display: flex;
			}

			@include breakpoint-down(small) {
				flex-flow: column nowrap;
			}
		}
	}
}
