footer {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 60px 0 20px 0;
    gap: 40px;

	button,
	a {
		display: inline-block;
		position: relative;
		margin: 0;
		font-size: 14px;
	}

	button {
		&::after {
			position: absolute;
			top: 0;
			right: -20px;
			width: 1px;
			height: 100%;
			content: '';
		}
	}
}
