.header {
	position: fixed;
	top: 0;
	z-index: 7;
	border-image: url("/images/header-background.png");
	border-image-slice: 0 100 16 fill;
	border-image-width: 0 300px 8px 300px;
	width: 100%;

	&-backdrop {
		position: fixed;
		top: 0;
		z-index: 6;
		// -webkit-backdrop-filter: blur(10px);
		// backdrop-filter: blur(10px);
		background: transparent;
		width: 100%;
		height: 50px;
	}

	@include breakpoint-down(small) {
		border-image-width: 0 50px 8px 50px;
	}

	.container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		padding: 12px 0 18px;
		width: 100%;
	}

	button {
		height: 28px;

		img {
			width: 32px;
			height: 32px;
		}
	}

	.button {
		&:active {
			box-shadow:
				inset 0 3px 6px rgba(0, 0, 0, 0.5),
				0 1px rgba(255, 255, 255, 0.25);
			background: rgba(255, 255, 255, 0.05);
		}

		&-places {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			box-shadow:
				inset 0 1px 2px rgba(0, 0, 0, 0.3),
				0 1px rgba(255, 255, 255, 0.25);
			border: 1px solid rgba(0, 0, 0, 0.3);
			border-radius: 6px;
			background: linear-gradient(
				to bottom,
				rgba(255, 255, 255, 0.25) 0%,
				rgba(255, 255, 255, 0.25) 47%,
				rgba(255, 255, 255, 0.05) 48%,
				rgba(255, 255, 255, 0.05) 100%
			);
			padding: 0 10px;

			span {
				font-size: 14px;

				@include breakpoint-down(small) {
					display: none;
				}
			}

			&.expanded {
				box-shadow:
					inset 0 1px 4px rgba(0, 0, 0, 0.5),
					0 1px rgba(255, 255, 255, 0.25);
				background: rgba(0, 0, 0, 0.1);
			}
		}

		&-geolocate {
			display: flex;
			flex-flow: row nowrap;
			align-items: center;
			margin-left: 6px;
			box-shadow:
				inset 0 1px rgba(255, 255, 255, 0.5),
				0 1px rgba(255, 255, 255, 0.25);
			border: 1px solid rgba(0, 0, 0, 0.4);
			border-radius: 999px;
			background: linear-gradient(
				to bottom,
				rgba(255, 255, 255, 0.25) 0%,
				rgba(255, 255, 255, 0.25) 47%,
				rgba(255, 255, 255, 0.1) 48%,
				rgba(255, 255, 255, 0.1) 100%
			);
			padding: 0 10px;

			@include breakpoint-down(small) {
				padding: 0 4px;
				width: 42px;
			}
		}
	}
}
