.loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100vw;
	height: 100vh;

	&-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 100%;

		p {
			margin-bottom: 20px;
		}
	}
}
