.modal {
	display: flex;
	flex-direction: column;
	z-index: 7;
	width: calc(100vw - 20px);
	max-height: calc(100vh - 140px);
	margin-top: -20px;

	&-backdrop {
		position: fixed;
		display: flex;
		justify-content: center;
		align-items: center;
		top: 0;
		left: 0;
		background: none;
		width: 100vw;
		height: 100vh;
		z-index: 3;
	}

	&-title {
		padding: 8px 14px;
		font-size: 18px;
	}

	&-close {
		position: absolute;
		top: 0;
		right: 0;
		width: 32px;
		height: 32px;
	}

	&-content {
		flex-grow: 1;
		margin: 0;
		padding: 0;
		overflow: auto;
	}

	&-footer {
		.button:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	@include breakpoint-up(medium) {
		margin-top: 0;
		width: max-content;
		max-width: calc(100vw - 40px);
		max-height: calc(100vh - 120px);

		&-footer {
			.button:not(:last-child) {
				margin-right: 8px;
				margin-bottom: 0;
			}
		}
	}

	@include breakpoint-up(large) {
		max-width: 980px;
		max-height: calc(100vh - 120px);
	}
}
