.search {
	position: relative;
	margin-left: auto;

	&-box {
		box-shadow:
			inset 1px 1px 2px rgba(0, 0, 0, 0.3),
			0 1px rgba(255, 255, 255, 0.2);
		border: 1px solid rgba(0, 0, 0, 0.4);
		border-radius: 999px;
		padding: 4px 20px 4px 32px;
		height: 28px;
		font-size: 14px;
		font-size: 16px;
	}

	&-icon {
		position: absolute;
		top: 2px;
		left: 5px;
		width: 24px;
		height: 24px;
	}

	&-results {
		display: block;
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 8;
		-webkit-backdrop-filter: blur(2px) saturate(150%);
		backdrop-filter: blur(2px) saturate(150%);
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
		border: 3px solid rgba(255, 255, 255, 0.9);
		border-radius: 6px;
		background-color: rgba(0, 0, 0, 0.75);
		padding: 0;
		width: max-content;
		min-width: 100%;
		overflow: hidden;

		&.is-loading {
			min-height: 88px;
		}

		&.no-results {
			display: none;
		}

		ul {
			list-style: none;

			> li {
				> button {
					cursor: pointer;
					border: none;
					background-color: transparent;
					padding: 5px 10px;
					width: 100%;
					color: #fff;
					text-align: left;

					&:hover {
						background-color: rgba(255, 255, 255, 0.1);
					}
				}

				&:not(:last-child) {
					border-bottom: 1px solid rgba(255, 255, 255, 0.2);
				}
			}
		}
	}

	&-spinner {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.5);
		padding: 20px;
		min-width: 100%;
		min-height: 100%;

		.loading-spinner {
			margin: auto;
		}

		&.is-loading {
			display: flex;

			&.is-initial {
				background: none;
			}
		}
	}

	@include breakpoint-down(small) {
		flex-grow: 2;
		margin-left: 10px;

		&-box {
			width: 100%;
		}

		&-results {
			right: -48px;
			width: calc(100vw - 28px);
			ul > li > button {
				padding: 10px 10px;
				height: auto;
			}
		}
	}
}
