.app-settings {
    padding: 20px 14px;

    .group-box {
        &-label {
            text-transform: uppercase;
            font-weight: 700;
            display: block;
            margin-bottom: 6px;
        }

        .form-control:not(:last-child),
        .form-control + .select {
            margin-right: 16px;
        }
    }
}