.sidebar {
	position: fixed;
	top: 60px;
	left: -40%;
	z-index: 6;
	transition: left 0.1s;
	border-image: url('/images/sidebar-background.png');
	border-image-slice: 60 20 60 60 fill;
	border-image-width: 20% 10px 20% 30%;
	padding: 40px 0 0;
	width: 40%;
	height: calc(100vh - 58px);
	text-align: right;

	&.active {
		left: 0;
	}

	.buttons {
		position: relative;
		margin: auto;
		padding: 20px 40px 20px;
		text-align: right;

		button {
			&:first-child {
				margin-right: 6px;
			}
		}
	}

	ul {
		list-style: none;

		li.place-item {
			display: flex;
			position: relative;
			flex-direction: row;
			justify-content: flex-end;

			> .button {
				&-select {
					transition: padding-right 0.1s;
					box-shadow: none;
					border: none;
					background: none;
					padding: 20px 40px;
					width: 100%;
					overflow: hidden;
					font-size: 16px;
					text-align: right;
					text-overflow: ellipsis;
					white-space: nowrap;

					&:hover {
						background: linear-gradient(
							to left,
							rgba(255, 255, 255, 0.1) 0%,
							transparent 100%
						);
					}

					&:active {
						background: linear-gradient(
							to left,
							rgba(0, 0, 0, 0.2) 0%,
							transparent 100%
						);
					}
				}

				&-delete {
					display: none;
					position: absolute;
					top: calc(50% - 11px);
					right: 20px;
					box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
					border: 2px solid #ffffff;
					border-radius: 12px;
					background: #ff0000;
					width: 22px;
					height: 22px;

					img {
						width: 100%;
					}
				}
			}

			&.active {
				> .button {
					&-select {
						background-image: url('/images/glow-right.png');
						background-position: top right 2px;
						background-size: auto 100%;
						background-repeat: no-repeat;
					}
				}
			}

			&.edit {
				> .button {
					&-select {
						padding-right: 62px;
					}

					&-delete {
						display: block;
					}
				}
			}
		}
	}

	@include breakpoint-down(small) {
		left: -100%;
		border-image: none;
		padding-top: 0;
		width: 100%;

		.buttons {
			display: flex;
			justify-content: space-between;
			background: linear-gradient(
				to top,
				rgba(0, 0, 0, 0.1) 0%,
				transparent 100%
			);
		}

		ul {
			li.place-item {
				> .button {
					&-select {
						text-align: left;
					}
				}

				&.active {
					> .button {
						&-select {
							background-image: url('/images/glow-left.png');
							background-position: top left;
						}
					}
				}
			}
		}
	}
	.buttons,
	ul > li {
		&::before,
		&::after {
			position: absolute;
			right: 1px;
			width: 100%;
			height: 1px;
			content: '';
		}

		&::before {
			bottom: 0;
			background: linear-gradient(
				to left,
				rgba(0, 0, 0, 0.3) 0%,
				transparent 100%
			);
		}

		&::after {
			bottom: -1px;
			background: linear-gradient(
				to left,
				rgba(255, 255, 255, 0.3) 0%,
				transparent 100%
			);
		}

		@include breakpoint-down(small) {
			&::before {
				bottom: 0;
				background: rgba(0, 0, 0, 0.3);
			}

			&::after {
				bottom: -1px;
				background: rgba(255, 255, 255, 0.3);
			}
		}
	}
}
