.loading-spinner {
	animation: spin 1s linear infinite;
	border: 3px solid rgba(255, 255, 255, 0.3);
	border-top-color: #ffffff;
	border-radius: 50%;
	width: 42px;
	height: 42px;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}
