.secondary-stats {
	&-item {
		position: relative;
		cursor: pointer;
		padding: 10px 0 0;

		&:active {
			transform: translateY(4px);
		}

		p {
			font-size: 24px;
			text-align: left;

			span {
				font-weight: 200;
				font-size: 24px;
			}

			@include breakpoint(small) {
				font-size: 16px;

				span {
					font-size: 16px;
				}
			}
		}

		label {
			display: block;
			margin-top: 10px;
			border-image: url('/images/widget-label-background.png');
			border-image-slice: 4 60 0 fill;
			border-image-width: 2px 30px 0;
			padding: 6px 0 6px 20px;
			font-weight: 700;
			font-size: 12px;
			text-align: left;
			text-transform: uppercase;
		}

		&#popWidget {
			grid-area: pop;
		}

		&#humidityWidget {
			grid-area: humidity;
		}

		&#windWidget {
			grid-area: wind;

			.wind-compass {
				position: relative;
				margin-left: 20px;
				width: 85px;
				height: 85px;

				&-background,
				&-arrow {
					width: 100%;
				}

				&-arrow {
					position: absolute;
					top: 0;
					left: 0;
					transform-origin: 50% 50%;
				}

				&-value {
					display: flex;
					position: absolute;
					top: 0;
					left: 0;
					justify-content: center;
					align-items: center;
					padding-left: 6px;
					width: 100%;
					height: 100%;
					font-size: 14px;
					line-height: 1;
				}

				@include breakpoint(small) {
					margin-bottom: 12px;
					margin-left: 0;
				}
			}

			.secondary-stats-value {
				left: 130px;

				@include breakpoint(small) {
					top: 0;
					left: 0;
				}
			}
		}

		&#sunWidget {
			grid-area: sun;
		}

		&#pressureWidget {
			grid-area: pressure;
		}

		&#visibilityWidget {
			grid-area: visibility;
		}

		&#rainSnowWidget {
			grid-area: rain;
		}

		&#cloudWidget {
			grid-area: cloud;
		}

		&#airWidget {
			grid-area: air;
		}
	}

	&-icon {
		display: block;
		margin-left: 10px;
		width: 64px;
	}

	&-value {
		position: absolute;
		top: 24px;
		left: 86px;

		@include breakpoint(small) {
			top: 18px;
			left: 46px;
		}
	}

	@include breakpoint-down(small) {
		&-item {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
		}

		&-icon {
			margin-left: 0;
		}

		&-value {
			position: relative;
			top: unset;
			left: unset;
			margin-bottom: 14px;
		}

		label {
			margin-top: auto;
			padding: 4px 0;
			width: 100%;
			font-size: 10px;
			text-align: center;
		}
	}
}
