.weather-tile {
	display: flex;
	position: relative;
	flex: 1;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 10px;
	min-width: 100px;

	.weather-tile-icon,
	p {
		text-align: center;
	}

	img {
		width: 46px;
	}

	&:not(:last-child) {
		&::after {
			position: absolute;
			top: 8px;
			right: -2px;
			box-shadow: -1px 0 rgba(0, 0, 0, 0.1);
			background-color: rgba(255, 255, 255, 0.2);
			width: 1px;
			height: calc(100% - 16px);
			content: "";
		}
	}

	@include breakpoint-down(small) {
		flex-direction: row;
		justify-content: stretch;
		padding: 10px 0;

		> * {
			width: calc(100% / 3);
		}

		&:nth-child(even) {
			background-color: rgba(0, 0, 0, 0.05);
		}

		&:not(:last-child) {
			&::after {
				top: 100%;
				left: 0;
				box-shadow: none;
				background-color: rgba(0, 0, 0, 0.15);
				width: 100%;
				height: 1px;
			}
		}
	}
}
