h1,
h2,
h5,
h6,
p,
span,
strong,
em,
label,
a,
.button,
.select {
	color: #ffffff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
}

a {
	text-decoration: underline;
}

button {
	cursor: pointer;
}

.button,
.select {
	box-shadow:
		inset 0 0 1px 1px rgba(255, 255, 255, 0.25),
		0 1px rgba(255, 255, 255, 0.2);
	border: 2px solid rgba(0, 0, 0, 0.4);
	border-radius: 6px;
	background: linear-gradient(
		to bottom,
		rgba(255, 255, 255, 0.2) 0%,
		rgba(255, 255, 255, 0.2) 47%,
		rgba(255, 255, 255, 0.1) 48%,
		rgba(255, 255, 255, 0.1) 100%
	);
	padding: 6px 26px;
	font-size: 14px;

	&:active {
		box-shadow:
			inset 0 2px 6px rgba(0, 0, 0, 0.4),
			0 1px rgba(255, 255, 255, 0.2);
		background: rgba(255, 255, 255, 0.1);
	}

	&:disabled {
		opacity: 0.5;
		background: rgba(255, 255, 255, 0.1);
	}

	&.ghost {
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
		border: 1px solid rgba(255, 255, 255, 0.3);
		background: none;
	}
}

.radio-button,
.checkbox {
	position: relative;
	margin-right: 6px;
	box-shadow:
		inset 0 1px 4px rgba(0, 0, 0, 0.5),
		0 1px rgba(255, 255, 255, 0.4);
	background-color: rgba(255, 255, 255, 0.2);

	&::before {
		position: absolute;
		transform: scale(0);
		content: '';
	}

	&:checked::before {
		transform: scale(1);
	}
}

.radio-button {
	&::before {
		top: 4px;
		left: 4px;
		box-shadow: 0 0 6px 3px #51b9ed;
		border-radius: 50%;
		background-color: #fff;
		width: 8px;
		height: 8px;
	}
}

.checkbox {
	&::before {
		top: 0;
		left: 0;
		border-radius: 50%;
		background: url('/images/check.png') no-repeat top left / cover;
		width: 16px;
		height: 16px;
	}
}

.select {
	background:
		linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.2) 0%,
			rgba(255, 255, 255, 0.2) 47%,
			rgba(255, 255, 255, 0.1) 48%,
			rgba(255, 255, 255, 0.1) 100%
		),
		url('/icons/arrow-down.png') no-repeat center right 6px / 20px 20px;
	padding: 6px 26px 6px 10px;

	option {
		color: initial;
	}
}

.group-box {
	box-shadow:
		inset 0 2px 6px rgba(0, 0, 0, 0.1),
		0 1px 1px rgba(255, 255, 255, 0.3);
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.2);
}

.card,
.tab-control {
	position: relative;
	box-shadow:
		inset -1px 0 rgba(255, 255, 255, 0.6),
		inset 1px 0 rgba(255, 255, 255, 0.6),
		inset 0 1px rgba(255, 255, 255, 0.6),
		inset 0 -1px rgba(255, 255, 255, 0.6),
		0 2px 6px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.2) 0%,
			rgba(0, 0, 0, 0.05) 100%
		),
		radial-gradient(
			80% 50% at 50% 0%,
			rgba(255, 255, 255, 0.5),
			transparent
		);
	background-repeat: no-repeat;
	background-origin: border-box;
	overflow: hidden;
}

button.card {
	&:active {
		box-shadow: inset 0 0 1px 1px rgba(255, 255, 255, 0.8);
	}
}

.tab-control::after,
.card::after {
	position: absolute;
	border-radius: 999px;
	background: linear-gradient(
		to bottom,
		transparent 0%,
		rgba(255, 255, 255, 0.2)
	);
	pointer-events: none;
	content: '';
}

.card::after {
	top: 4px;
	left: 10px;
	width: calc(100% - 20px);
	height: 40px;
}

.groupbox {
	box-shadow:
		inset 0 2px 6px rgba(0, 0, 0, 0.1),
		0 1px 1px rgba(255, 255, 255, 0.3);
	border-radius: 6px;
	background: rgba(0, 0, 0, 0.2);
}

.secondary-stats-item,
.tab-control {
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
}

.weather-summary {
	.primary-stats {
		@include breakpoint-down(small) {
			-webkit-backdrop-filter: blur(6px);
			backdrop-filter: blur(6px);

			&-temp-info {
				margin: 14px 0 0;
				box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.5);
				border-top: 1px solid rgba(0, 0, 0, 0.3);
				background: radial-gradient(
					50% 80% at 50% 0%,
					rgba(255, 255, 255, 0.4),
					transparent
				);
				padding: 14px 0;
			}
		}
	}
}

.tab-control::after {
	top: 5px;
	left: 10px;
	width: calc(100% - 20px);
	height: 12px;
}

.tab {
	position: relative;
	border: 2px solid transparent;
	border-radius: 0;
	border-image: url('/images/inactive-tab-background.png');
	border-image-slice: 16 16 12 fill;
	border-image-width: 8px 8px 6px;
	background: none;
	padding: 6px 0;
	width: 100%;
	min-width: 120px;
	color: #ffffff;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);

	&:focus,
	&:active {
		outline: none;
	}

	&:active {
		border-image: url('/images/pressed-tab-background.png');
		border-image-slice: 16 16 12 fill;
		border-image-width: 8px 8px 6px;
		overflow: hidden;
	}

	&.active {
		border-image: url('/images/active-tab-background.png');
		border-image-slice: 16 16 12 fill;
		border-image-width: 8px 8px 6px;
		overflow: hidden;
	}

	&-content {
		background-color: rgba(255, 255, 255, 0.2);
	}
}

li:not(:first-child) {
	.tab:not(.active)::after {
		position: absolute;
		top: 2px;
		left: -1px;
		box-shadow: -1px 0 rgba(0, 0, 0, 0.3);
		background-color: rgba(255, 255, 255, 0.4);
		width: 1px;
		height: calc(100% - 3px);
		content: '';
	}
}

.extended-forecast {
	&-paginator {
		box-shadow:
			inset 0 1px rgba(255, 255, 255, 0.4),
			0 1px rgba(255, 255, 255, 0.4);
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		border-bottom: 1px solid rgba(0, 0, 0, 0.3);
		background: linear-gradient(
			to bottom,
			rgba(0, 0, 0, 0.15) 0%,
			rgba(0, 0, 0, 0.05) 100%
		);

		button {
			border: none;
			background: none;

			&:first-child {
				box-shadow: 1px 0 rgba(255, 255, 255, 0.4);
				border-right: 1px solid rgba(0, 0, 0, 0.3);
			}

			&:last-child {
				box-shadow: inset 1px 0 rgba(255, 255, 255, 0.4);
				border-left: 1px solid rgba(0, 0, 0, 0.3);
			}

			&:active {
				background: linear-gradient(
					to bottom,
					rgba(0, 0, 0, 0.2) 0%,
					rgba(0, 0, 0, 0.1) 100%
				);
			}

			&:disabled {
				opacity: 0.5;
				pointer-events: none;
			}
		}
	}
}

li.active + li > .tab::after {
	display: none;
}

.whats-this {
	opacity: 0.7;

	&:hover {
		opacity: 1;
	}
}

.modal {
	-webkit-backdrop-filter: blur(6px) saturate(120%);
	backdrop-filter: blur(6px) saturate(120%);
	box-shadow:
		0 2px 6px rgba(0, 0, 0, 0.6),
		0 0 14px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
	border-image: url('/images/modal-background.png');
	border-image-slice: 40 fill;
	border-image-width: 20px;
	background-image: radial-gradient(
		80% 50% at 50% 0%,
		rgba(255, 255, 255, 0.3),
		transparent
	);
	background-color: transparent;
	padding: 6px;
	overflow: hidden;

	&-title {
		position: relative;

		&::before,
		&::after {
			position: absolute;
			left: 14px;
			width: calc(100% - 28px);
			height: 1px;
			content: '';
		}

		&::before {
			bottom: 1px;
			background: linear-gradient(
				to right,
				rgba(0, 0, 0, 0.3) 0%,
				transparent 100%
			);
		}

		&::after {
			bottom: 0;
			background: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.3) 0%,
				transparent 100%
			);
		}
	}

	&-close {
		top: 7px;
		right: 7px;
		box-shadow:
			-1px 1px rgba(255, 255, 255, 0.2),
			inset 2px -2px 8px rgba(0, 0, 0, 0.4);
		border: none;
		border-bottom: 1px solid rgba(0, 0, 0, 0.4);
		border-left: 1px solid rgba(0, 0, 0, 0.4);
		border-radius: 0 3px 0 6px;
		background: rgba(255, 255, 255, 0.2);
		padding: 5px;

		&:active {
			box-shadow:
				-1px 1px rgba(255, 255, 255, 0.2),
				inset 2px -2px 16px rgba(0, 0, 0, 0.6);
		}

		img {
			width: 22px;
			height: 22px;
		}
	}

	&-footer {
		display: flex;
		position: relative;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		padding: 14px;

		&::before,
		&::after {
			position: absolute;
			left: 2px;
			width: calc(100% - 4px);
			height: 1px;
			content: '';
		}

		&::before {
			top: 1px;
			background: rgba(255, 255, 255, 0.3);
		}

		&::after {
			top: 0;
			background: rgba(0, 0, 0, 0.4);
		}

		@include breakpoint-down(small) {
			flex-direction: column;
			justify-content: flex-start;

			.button {
				padding: 10px;
				width: 100%;
			}
		}
	}
}

.weather-summary-controls {
	.button {
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}

		&:active {
			transform: translateY(2px);
			box-shadow: none;
			background: none;
		}
	}
}

footer {
	button {
		&::after {
			box-shadow: 1px 0 rgba(0, 0, 0, 0.4);
			background-color: rgba(255, 255, 255, 0.3);
		}
	}
}
