// Breakpoints for responsivity

@mixin breakpoint($point) {
	@if $point == small {
		@media screen and (max-width: 431px) {
			@content;
		}
	} @else if $point == medium {
		@media screen and (min-width: 768px) {
			@content;
		}
	} @else if $point == large {
		@media screen and (min-width: 1000px) {
			@content;
		}
	}
}

@mixin breakpoint-up($point) {
	@if $point == small {
		@media screen and (min-width: 431px) {
			@content;
		}
	} @else if $point == medium {
		@media screen and (min-width: 768px) {
			@content;
		}
	} @else if $point == large {
		@media screen and (min-width: 1000px) {
			@content;
		}
	}
}

@mixin breakpoint-down($point) {
	@if $point == small {
		@media screen and (max-width: 430px) {
			@content;
		}
	} @else if $point == medium {
		@media screen and (max-width: 767px) {
			@content;
		}
	} @else if $point == large {
		@media screen and (max-width: 999px) {
			@content;
		}
	}
}
