.button {
	user-select: none;
	-webkit-touch-callout: none;
}

.groupbox {
	margin: 14px;
	padding: 8px 14px;
}

.whats-this {
	width: 32px;
	height: 32px;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	-webkit-backdrop-filter: blur(10px) saturate(120%);
	backdrop-filter: blur(10px) saturate(120%);
	background-color: rgba(0, 0, 0, 0.5);
	width: 100vw;
	height: 100vh;

	&.active {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}

.group-box {
	padding: 10px 20px;
	margin-bottom: 14px;
}

.form-control {
	display: inline-block;
}

input[type='radio'],
input[type='checkbox'] {
	transform: translateY(1px);
	-webkit-appearance: none;
	appearance: none;
	border: none;
	border-radius: 50%;
	width: 16px;
	height: 16px;
}

input[type='checkbox'] {
	border-radius: 4px;
}

.select {
	appearance: none;
}
