* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#root {
	margin: 0;
	padding: 0;
}

main {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	transition: background 2s;
}

.main-content {
	position: absolute;
	top: 52px;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	overflow-x: hidden;
	overflow-y: auto;

	.container {
		padding-bottom: 20px;
	}
}

.container {
	margin: auto;
	max-width: calc(100vw - 28px);
	@include breakpoint(large) {
		max-width: 972px;
	}
}

canvas {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
